<div class="app-container">
    <app-header></app-header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li [ngClass]="{'active': selectedExercise == 1}">
                    <a href="#Stadium-Seating" (click)="setExercise(1)">Stadium Seating</a>
                </li>
                <li [ngClass]="{'active': selectedExercise == 2}">
                    <a href="#Reaction-Time" (click)="setExercise(2)" >Reaction Time</a>
                </li>
                <li [ngClass]="{'active': selectedExercise == 3}">
                    <a href="#Colors" (click)="setExercise(3)">Colors</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <stadium-seat-component *ngIf="selectedExercise == 1"></stadium-seat-component>
        <reaction-component *ngIf="selectedExercise == 2"></reaction-component>
    </div>
</div>