.countdown {
    font-size: 300px;
    font-family: sans-serif;
    font-weight: bolder;
}

.countdown-button {
    margin-bottom: 20px;
}

.countdown, .countdown-button, table {
    display: flex;
    align-self: center;
    justify-content: center;
}

table {
    width: auto;
}
