<div *ngIf="!isCountdown" class="countdown-button">
    <button (click)="startCountdown()" class="btn btn-lg btn-primary">Start the Countdown!</button>
</div>
<div *ngIf="isCountdown" class="countdown">{{countdown}}</div>
<table *ngIf="reactions.length > 0" class="table table-striped">
    <tr>
        <th>#</th>
        <th>User Number</th>
        <th>Reaction Time</th>
    </tr>
    <tr *ngFor="let reaction of reactions; let i = index" [attr.data-index]="i">
        <td>
            {{i + 1}}.
        </td>
        <td>
            {{reaction.id}}
        </td>
        <td>
            {{reaction.time}}
        </td>
    </tr>
</table>
<table *ngIf="disqualified.length > 0" class="table">
    <tr>
        <th>DISQUALIFIED</th>
    </tr>
    <tr *ngFor="let user of disqualified; let i = index" [attr.data-index]="i" class="danger">
        <td>
            {{user.id}}
        </td>
    </tr>
</table>